<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoScrewing.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoScrewing.Settings1>
            <setting name="PLC_TARGET" serializeAs="String">
                <value>192.168.0.10</value>
            </setting>
            <setting name="DBCon" serializeAs="String">
                <value>Host=localhost;Username=autoscrewing_usr;Password=autoscrewing_usr;Database=autoscrewing</value>
            </setting>
            <setting name="MESH_URL" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="OPERATION_ID" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="OPERATION_USER" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Screwing_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
        </AutoScrewing.Settings1>
    </userSettings>
</configuration>